<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hyperlinked Narratives</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Cabin:400,400i,600,600i|Vampiro+One&display=swap" rel="stylesheet">
  <link rel="icon" href="/favicon.svg">
  <!-- social -->
  <meta property="og:title" content="Hyperlinked Narratives">
  <meta property="og:description" content="A Wikipedia-based narrative tool.">
  <meta property="og:image" content="https://hyperlinked-narratives.herokuapp.com/favicon.ico">
  <meta property="og:url" content="https://hyperlinked-narratives.herokuapp.com">
  <meta name="twitter:card" content="https://hyperlinked-narratives.herokuapp.com/favicon.ico">
  <!-- end social -->
</head>
<body id="chain">
  <header>
    <h1 id="home"><a href="/">Hyperlinked Narratives</a></h1>
  </header>
  <main>
    <span id="chain-counter"><sup id="chain-count"><%-chain.length%></sup>&frasl;<sub>6</sub></span>
    <p id="narrative-instruct" class="instruct">Fill in the blanks to write your own Mad Libs&ndash;style narrative about how these things are related!</p>
    <% if (chain) { %>
      <p id="article-chain" class="constructing">
        <% if (chain.length > 0) { %>
          <% chain.forEach(function(node) { %>
            <span class="article-node"><%- node.title %></span>
          <% }); %>
        <% } %>
      </p>
    <% } %>
    <% if (articleLinks) { %>
      <p class="instruct">Click a link to add it to the article chain:</p>
      <div class="article-links">
        <form action="/chain" method="POST">
          <% articleLinks.forEach(function(link) { %>
            <button class="article-link" name="article_link" value=<%=link.url_stub%>><%- link.title %></button>
          <% }); %>
        </form>
      </div>
    <% } %>
    <% if (chain.length == 6) { %>
      <form action="" id="narratives-form">
        <button id="create-narrative" class="narrative-btn action-btn" type="button">Create a narrative</button>
        <button id="compare-narratives" class="narrative-btn action-btn" type="button">Compare narratives</button>
      </form>
      <div id="paragraphs">
        <p class="instruct">
          <a href='<%= chain[0].url %>' title='<%= chain[0].link_title %>'>Explore from the beginning on Wikipedia.</a>
        </p>
        <h2 class="para-h"><%- chain[0].title %></h2>
        <% for (var i = 1; i < chain.length; i++) { %>
          <p class="para-p"><%- chain[i].paragraph %></p>
          <h2 class="para-h"><%- chain[i].title %></h2>
        <% } %>
      </div>
    <% } %>
  </main>
  <script src="/js/scripts.js"></script>
</body>
</html>